.news {
  display: grid;
  margin: 2rem;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 900px) {
  .news {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 650px) {
  .news {
    grid-template-columns: repeat(1, 1fr);
  }
}
