/* Card styles */
.skeleton {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.card {
  background-color: #fff;
  margin: 1.5rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.7);
  z-index: -1;
}

/* Card image loading */
.card_image img {
  width: 100%;
  height: 100%;
}

.card_image.loading {
  height: 250px;
  width: 100%;
}

/* Card title */
.card_title {
  padding: 8px;
}

.card_title.loading {
  height: 1rem;
  width: 50%;
  margin: 1rem;
  border-radius: 10px;
}

/* Card description */
.card_description {
  padding: 8px;
  font-size: 16px;
}

.card_description.loading {
  height: 3rem;
  margin: 1rem;
  border-radius: 10px;
}

/* The loading Class */
.loading {
  position: relative;
  background-color: #c2c2c2;
}

/* The moving element */
.loading::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);

  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );

  /* Adding animation */
  animation: loading 0.8s infinite;
}

/* Loading Animation */
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

@media only screen and (max-width: 900px) {
  .skeleton {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 650px) {
  .skeleton {
    grid-template-columns: repeat(1, 1fr);
  }
}
