@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin-top: 5rem;
  background-color: #232323;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
}
