@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin-top: 5rem;
  background-color: #232323;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
}

.news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container {
  border-radius: 10px;
  padding-bottom: 1rem;
  background-color: #ecebeb;
  color: #232323;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.7);
  margin: 20px;
}

.container img {
  border-radius: 10px 10px 0 0;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.info {
  border-left: 5px solid #232323;
  margin-left: 1rem;
  padding-left: 1rem;
}

.article {
  display: none;
}

/*navbar*/

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  background-color: #c2c2c2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  margin-bottom: 2rem;
  width: 100%;
  justify-content: flex-end;
}

li a {
  display: block;
  color: #232323;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #232323;
  color: #fff;
}

.input {
  display: block;
  margin: auto;
  width: 50%;
  border-radius: 50px;
  outline: none;
  padding: 15px;
  border: none;
  font-size: 1rem;
}

.input:hover {
  box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 750px) {
  .news {
    grid-template-columns: repeat(1, 1fr);
  }
}
